node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# Repeating for intelliji
node_modules/
.expo/

# macOS
.DS_Store

.env
package-lock.json
debug.log

api-8748659258910046471-451464-b4047466023e.json
*.pem